.header {
    display: flex;
    padding: 20px;
    background: #232323;
    box-shadow: 0 1px 28px -24px #000;
    transform: translateY(-64px);
    transition: .6s ease;
}

.ready {
    transform: translateY(0);
}

.headerLeft {
    display: flex;
    align-items: center;
}

.headerLeftText {
    font-size: 24px;
    line-height: 32px;
    margin-right: 20px;
    font-weight: bold;
    color: #fff;
}

.headerRight {

}

.container {
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
    justify-content: space-between;
    display: flex;
}
