.root {
    margin: 0 auto;
    height: 100vh;
    display: flex;
    align-items: center;
    transition: .6s ease;
    opacity: 0;
}

.ready {
    opacity: 1;
}

.row {
    display: flex;
    width: 100%;
}

.header {
    margin-right: 10px;
}

.headerTitle {
    font-size: 32px;
    line-height: 40px;
    margin: 0 0 25px;
    color: #fff;
}

.headerText {
    color: rgba(255, 255, 255, 0.5);
    margin: 0 0 20px;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
}

.form {
    display: flex;
    width: 85%;
    flex-direction: column;
    gap: 10px 0;
}

.formInput {
    width: 100%;
    margin-bottom: 20px;
}

.formButton {
    width: 100%;
}

.sectionContainer {
    border-radius: 8px;
    box-shadow: 0 1px 2px -9px #000;
    background: #232323;
    padding: 30px;
    max-width: 540px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
