.root {
    display: flex;
    flex-direction: column;
}

.input {
    width: 48px;
    height: 48px;
    text-align: center;

    border: 1px solid rgba(0, 0, 0, .3);
    background: #f6f6f6;
    box-shadow: 0 1px 2px -9px #000;
    border-radius: 8px;
}

.label {
    font-size: 15px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 8px;
    letter-spacing: 0.05em;
}

.inputs {
    display: flex;
    gap: 8px;
}
